<a href="https://colab.research.google.com/github/gvxfnv/lizavavilova/blob/main/%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DICTIONARY

Максимальное значение: Напишите функцию, которая находит ключ с максимальным значением в словаре

In [ ]:
def max_a (d):
  if not d:
    return None
  max_key = max (d, key = d.get)
  return max_key
exemple_dict = {'a': 1, 'b': 3, 'c': 0}
result = max_a(exemple_dict)
print(f'ключ с максимальным значением: {result}')

ключ с максимальным значением: a

Минимальное значение: Напишите функцию, которая находит ключ с минимальным значением в словаре.

In [ ]:
def min_a(d):
  if not d:
    return None
  min_key = min(d, key = d.get)
  return min_key
  example_dict = {'a': 1, 'b': 5, 'c': 3}
  result = min_a(example_dict)
  print(f'ключ с минимальным значением: {result}')

Удаление ключей: Напишите функцию, которая принимает словарь и список ключей, и удаляет из словаря все указанные ключи.

In [ ]:
def remove_keys(d, keys):
    for key in keys:
        d.pop(key, None)
    return d
example_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
keys_to_remove = ['b', 'd']

result = remove_keys(example_dict, keys_to_remove)
print(result)

{'a': 1, 'c': 3}

Поиск ключей по значению: Напишите функцию, которая принимает словарь и значение, и возвращает список всех ключей, связанных с этим значением.

In [ ]:
def find_keys_by_value(d, target_value):
    keys = [key for key, value in d.items() if value == target_value]
    return keys
example_dict = {'a': 4, 'b': 2, 'c': 1, 'd': 4}
value_to_find = 4

result = find_keys_by_value(example_dict, value_to_find)
print(result)

['a', 'd']

Объединение значений: Напишите функцию, которая принимает два словаря и объединяет их значения в списки для каждого ключа.

In [ ]:
def merge_dict_values(dict1, dict2):
    """Объединяет значения двух словарей в списки для каждого ключа."""
    merged_dict = {}
    for key, value in dict1.items():
        merged_dict[key] = [value]
    for key, value in dict2.items():
        if key in merged_dict:
            merged_dict[key].append(value)
        else:
            merged_dict[key] = [value]

    return merged_dict
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}

result = merge_dict_values(dict1, dict2)
print(result)

{'a': [1], 'b': [2, 3], 'c': [4]}

Сортировка по ключам: Напишите функцию, которая сортирует словарь по ключам и возвращает новый отсортированный словарь

In [ ]:
def sort_dict_by_keys(input_dict):
    sorted_dict = dict(sorted(input_dict.items()))
    return sorted_dict

example_dict = {'c': 3, 'a': 1, 'b': 2}
sorted_example = sort_dict_by_keys(example_dict)
print(sorted_example)

{'a': 1, 'b': 2, 'c': 3}

Сортировка по значениям: Напишите функцию, которая сортирует словарь по значениям и возвращает новый отсортированный словарь.

In [ ]:
def sort_dict_by_values(input_dict):
    sorted_dict = dict(sorted(input_dict.items(), key=lambda item: item[1]))
    return sorted_dict

example_dict = {'a': 3, 'b': 1, 'c': 2}
sorted_example = sort_dict_by_values(example_dict)
print(sorted_example)

{'b': 1, 'c': 2, 'a': 3}

Сумма значений: Напишите функцию, которая вычисляет сумму всех значений в словаре.

In [ ]:
def sum_dict_values(input_dict):
    total_sum = sum(input_dict.values())
    return total_sum

example_dict = {'a': 3, 'b': 1, 'c': 2}
total = sum_dict_values(example_dict)
print(total)

6

Произведение значений: Напишите функцию, которая вычисляет произведение всех значений в словаре.

In [ ]:
def product_dict_values(input_dict):
    product = 1
    for value in input_dict.values():
        product *= value
    return product

example_dict = {'a': 3, 'b': 1, 'c': 2}
total_product = product_dict_values(example_dict)
print(total_product)

6

Ключи с нечетными значениями: Напишите функцию, которая возвращает список ключей, связанных с нечетными значениями.

In [ ]:
def odd_value_keys(input_dict):
    odd_keys = [key for key, value in input_dict.items() if value % 2 != 0]
    return odd_keys

example_dict = {'a': 3, 'b': 2, 'c': 5, 'd': 4}
odd_keys_list = odd_value_keys(example_dict)
print(odd_keys_list)

['a', 'c']

МНОЖЕСТВА

Пересечение множеств: Напишите функцию, которая принимает два множества и возвращает их пересечение.

In [ ]:
def intersection(set1, set2):
    return set1 & set2

set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8}
result = intersection(set_a, set_b)
print(result)

{4, 5}

Объединение множеств: Напишите функцию, которая принимает два множества и возвращает их объединение.

In [ ]:
def union(set1, set2):
    return set1 | set2

set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8}
result = union(set_a, set_b)
print(result)

{1, 2, 3, 4, 5, 6, 7, 8}

Разность множеств: Напишите функцию, которая принимает два множества и возвращает разность первого множества и второго.

In [ ]:
def difference(set1, set2):
    return set1 - set2

set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8}
result = difference(set_a, set_b)
print(result)

{1, 2, 3}

Симметрическая разность: Напишите функцию, которая принимает два множества и возвращает их симметрическую разность

In [ ]:
def symmetric_difference(set1, set2):
    return set1.symmetric_difference(set2)

set_a = {1, 2, 3}
set_b = {3, 4, 5}

result = symmetric_difference(set_a, set_b)
print(result)

{1, 2, 4, 5}

Проверка подмножества: Напишите функцию, которая проверяет, является ли одно множество подмножеством другого.

In [ ]:
def is_subset(set1, set2):
    return set1.issubset(set2)


set_a = {1, 2, 3}
set_b = {1, 2, 3, 4, 5}

result = is_subset(set_a, set_b)
print(result)

set_c = {1, 6}
result = is_subset(set_c, set_b)
print(result)

True
False

Удаление элементов: Напишите функцию, которая удаляет из множества все элементы, присутствующие в списке.

In [ ]:
def remove_elements_from_set(s, elements_to_remove):
    elements_to_remove_set = set(elements_to_remove)
    s.difference_update(elements_to_remove_set)

my_set = {1, 2, 3, 4, 5}
elements_to_remove = [2, 4]

remove_elements_from_set(my_set, elements_to_remove)
print(my_set)

{1, 3, 5}

Элементы, встречающиеся только в одном множестве: Напишите функцию, которая находит элементы, которые есть только в одном из двух множеств.

In [ ]:
def unique_elements(set1, set2):
    return set1.symmetric_difference(set2)
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}
unique_in_sets = unique_elements(set_a, set_b)
print(unique_in_sets)

{1, 2, 5, 6}

Общие элементы: Напишите функцию, которая находит общие элементы двух списков с помощью множеств.

In [ ]:
def common_elements(list1, list2):
    return list(set(list1) & set(list2))

list_a = [1, 2, 3, 4, 5]
list_b = [4, 5, 6, 7, 8]

common_in_lists = common_elements(list_a, list_b)
print(common_in_lists)

[4, 5]

Уникальные элементы: Напишите функцию, которая находит элементы, которые есть только в одном из двух списков.

In [ ]:
def unique_elements(list1, list2):
    set1 = set(list1)
    set2 = set(list2)
    unique = set1.symmetric_difference(set2)

    return list(unique)


list_a = [1, 2, 3, 4, 5]
list_b = [4, 5, 6, 7, 8]

unique_in_lists = unique_elements(list_a, list_b)
print(unique_in_lists)

[1, 2, 3, 6, 7, 8]

Удаление случайного элемента: Напишите функцию, которая удаляет случайный элемент из множества.

In [ ]:
import random

def remove_random_element(s):
    if not s:
        raise ValueError("Множество пустое, нельзя удалить элемент.")
    element_to_remove = random.choice(tuple(s))
    s.remove(element_to_remove)
    return element_to_remove
my_set = {1, 2, 3, 4, 5}
removed_element = remove_random_element(my_set)

print(f"Удаленный элемент: {removed_element}")
print(f"Оставшееся множество: {my_set}")

Удаленный элемент: 5
Оставшееся множество: {1, 2, 3, 4}

TUPLE

Создание кортежа из списка: Напишите функцию, которая принимает список и возвращает кортеж, содержащий те же элементы.

In [ ]:
def list_to_tuple(lst):
    return tuple(lst)
my_list = [1, 2, 3, 4, 5]
result_tuple = list_to_tuple(my_list)

print(f"Исходный список: {my_list}")
print(f"Преобразованный кортеж: {result_tuple}")

Исходный список: [1, 2, 3, 4, 5]
Преобразованный кортеж: (1, 2, 3, 4, 5)

Объединение кортежей: Напишите функцию, которая принимает два кортежа и возвращает их объединение.

In [ ]:
def concatenate_tuples(tuple1, tuple2):
    return tuple1 + tuple2

tuple_a = (1, 2, 3)
tuple_b = (4, 5, 6, 7)
result_tuple = concatenate_tuples(tuple_a, tuple_b)

print(f"Первый кортеж: {tuple_a}")
print(f"Второй кортеж: {tuple_b}")
print(f"Объединенный кортеж: {result_tuple}")

Первый кортеж: (1, 2, 3)
Второй кортеж: (4, 5, 6, 7)
Объединенный кортеж: (1, 2, 3, 4, 5, 6, 7)

Проверка на наличие элемента: Напишите функцию, которая проверяет, содержится ли заданный элемент в кортеже.

In [ ]:
def is_element_in_tuple(element, tuple_data):
    return element in tuple_data

my_tuple = (1, 2, 3, 4, 5)
element_to_check = 3

if is_element_in_tuple(element_to_check, my_tuple):
    print(f"Элемент {element_to_check} содержится в кортеже {my_tuple}.")
else:
    print(f"Элемент {element_to_check} не содержится в кортеже {my_tuple}.")

Элемент 3 содержится в кортеже (1, 2, 3, 4, 5).

Индекс первого вхождения: Напишите функцию, которая находит индекс первого вхождения заданного элемента в кортеже.

In [ ]:
def find_first_occurrence(element, tuple_data):
    try:
        index = tuple_data.index(element)
        return index
    except ValueError:
        return -1

my_tuple = (1, 2, 3, 4, 5, 3)
element_to_find = 3

index = find_first_occurrence(element_to_find, my_tuple)

if index != -1:
    print(f"Элемент {element_to_find} впервые встречается в кортеже {my_tuple} на индексе {index}.")
else:
    print(f"Элемент {element_to_find} не найден в кортеже {my_tuple}.")

Элемент 3 впервые встречается в кортеже (1, 2, 3, 4, 5, 3) на индексе 2.

Количество вхождений элемента: Напишите функцию, которая подсчитывает, сколько раз заданный элемент встречается в кортеже.

In [ ]:
def count_occurrences(element, tuple_data):
    count = tuple_data.count(element)
    return count

# Пример использования
my_tuple = (1, 2, 3, 4, 5, 3, 3)
element_to_count = 3

count = count_occurrences(element_to_count, my_tuple)

print(f"Элемент {element_to_count} встречается в кортеже {my_tuple} {count} раза.")

Элемент 3 встречается в кортеже (1, 2, 3, 4, 5, 3, 3) 3 раза.

Максимальный элемент: Напишите функцию, которая находит максимальный элемент в кортеже.

In [ ]:
def find_maximum(tuple_data):
    if not tuple_data:
        return None
    maximum = tuple_data[0]
    for element in tuple_data:
        if element > maximum:
            maximum = element
    return maximum

my_tuple = (1, 5, 3, 9, 2)

max_element = find_maximum(my_tuple)

if max_element is not None:
    print(f"Максимальный элемент в кортеже {my_tuple} равен {max_element}.")
else:
    print("Кортеж пуст.")

Максимальный элемент в кортеже (1, 5, 3, 9, 2) равен 9.

Минимальный элемент: Напишите функцию, которая находит минимальный элемент в кортеже.

In [ ]:
def find_minimum(tuple_data):
    """Находит минимальный элемент в кортеже."""
    if not tuple_data:
        return None
    minimum = tuple_data[0]
    for element in tuple_data:
        if element < minimum:
            minimum = element
    return minimum

my_tuple = (7, 2, 5, 1, 9)

min_element = find_minimum(my_tuple)

if min_element is not None:
    print(f"Минимальный элемент в кортеже {my_tuple} равен {min_element}.")
else:
    print("Кортеж пуст.")

Минимальный элемент в кортеже (7, 2, 5, 1, 9) равен 1.

Сортировка кортежа: Напишите функцию, которая возвращает отсортированный список на основе элементов кортежа.

In [ ]:
def sort_tuple(tuple_data):
    sorted_list = sorted(tuple_data)
    return sorted_list

my_tuple = (7, 2, 5, 1, 9)

sorted_list = sort_tuple(my_tuple)

print(f"Отсортированный список на основе кортежа {my_tuple}: {sorted_list}.")

Отсортированный список на основе кортежа (7, 2, 5, 1, 9): [1, 2, 5, 7, 9].

Разбиение кортежа: Напишите функцию, которая разбивает кортеж на две части: первую половину и вторую половину.

In [ ]:
def split_tuple(tuple_data):
    mid_index = len(tuple_data) // 2
    first_half = tuple_data[:mid_index]
    second_half = tuple_data[mid_index:]
    return first_half, second_half

my_tuple = (1, 2, 3, 4, 5, 6)

first_half, second_half = split_tuple(my_tuple)

print(f"Первая половина: {first_half}")
print(f"Вторая половина: {second_half}")

Первая половина: (1, 2, 3)
Вторая половина: (4, 5, 6)

Обратный порядок: Напишите функцию, которая возвращает кортеж с элементами в обратном порядке.

In [ ]:
def reverse_tuple(tuple_data):
    return tuple_data[::-1]

my_tuple = (1, 2, 3, 4, 5)

reversed_tuple = reverse_tuple(my_tuple)

print(f"Исходный кортеж: {my_tuple}")
print(f"Обратный кортеж: {reversed_tuple}")

Исходный кортеж: (1, 2, 3, 4, 5)
Обратный кортеж: (5, 4, 3, 2, 1)